---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import UnderlineButton from "./UnderlineButton.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1">
        <UnderlineButton href="/blog">
          blog
        </UnderlineButton>
        <span>
          {`|`}
        </span>
        <UnderlineButton href="/work">
          work
        </UnderlineButton>
        <span>
          {`|`}
        </span>
        <UnderlineButton href="/projects">
          projects
        </UnderlineButton>
      </nav>
    </div>
  </Container>
</header>
