---
type Props = {
    href: string,
}

const { href } = Astro.props;
---

<a class="relative after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:translate-y-1 after:bg-neutral-800 after:opacity-0 after:transition after:duration-150 after:ease-in-out hover:after:translate-y-0 hover:after:opacity-30" href={`${href}`}>
    <slot />
</a>